* {
    -fx-font-family: Tahoma;
}

.root {
    -fx-padding: 10px 10px 20px 10px;
    -fx-spacing: 15;
    -fx-background-color: -color-primary;
    -fx-border-color: -color-secondary;
    -fx-border-width: 0.3px;
}

.lbl-title {
    -fx-text-fill: -color-secondary;
}

.lbl-desc {
    -fx-text-fill: #DDD;
    -fx-font-size: 16px
}

.btn-close{ /* Close button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #FC5653;
    -fx-background-radius: 100%;
    -fx-cursor: hand;
}

.btn-close:hover{-fx-background-color: red;}

.icon {
    -icon-paint: -color-secondary;
    -fx-background-color: -icon-paint;
    -size: 26;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-cursor: hand;
}

.fb-svg {
    -fx-shape: "m512 256c0-141.4-114.6-256-256-256s-256 114.6-256 256 114.6 256 256 256c1.5 0 3 0 4.5-.1v-199.2h-55v-64.1h55v-47.2c0-54.7 33.4-84.5 82.2-84.5 23.4 0 43.5 1.7 49.3 2.5v57.2h-33.6c-26.5 0-31.7 12.6-31.7 31.1v40.8h63.5l-8.3 64.1h-55.2v189.5c107-30.7 185.3-129.2 185.3-246.1z";
}

.tw-svg {
    -fx-shape: "m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm116.886719 199.601562c.113281 2.519532.167969 5.050782.167969 7.59375 0 77.644532-59.101563 167.179688-167.183594 167.183594h.003906-.003906c-33.183594 0-64.0625-9.726562-90.066406-26.394531 4.597656.542969 9.277343.8125 14.015624.8125 27.53125 0 52.867188-9.390625 72.980469-25.152344-25.722656-.476562-47.410156-17.464843-54.894531-40.8125 3.582031.6875 7.265625 1.0625 11.042969 1.0625 5.363281 0 10.558593-.722656 15.496093-2.070312-26.886718-5.382813-47.140624-29.144531-47.140624-57.597657 0-.265624 0-.503906.007812-.75 7.917969 4.402344 16.972656 7.050782 26.613281 7.347657-15.777343-10.527344-26.148437-28.523438-26.148437-48.910157 0-10.765624 2.910156-20.851562 7.957031-29.535156 28.976563 35.554688 72.28125 58.9375 121.117187 61.394532-1.007812-4.304688-1.527343-8.789063-1.527343-13.398438 0-32.4375 26.316406-58.753906 58.765625-58.753906 16.902344 0 32.167968 7.144531 42.890625 18.566406 13.386719-2.640625 25.957031-7.53125 37.3125-14.261719-4.394531 13.714844-13.707031 25.222657-25.839844 32.5 11.886719-1.421875 23.214844-4.574219 33.742187-9.253906-7.863281 11.785156-17.835937 22.136719-29.308593 30.429687zm0 0";
}

.in-svg {
    -fx-shape: "m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm-74.390625 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0";
}

.insta-svg {
    -fx-shape: "M386.878,0H164.156C73.64,0,0,73.64,0,164.156v222.722 c0,90.516,73.64,164.156,164.156,164.156h222.722c90.516,0,164.156-73.64,164.156-164.156V164.156 C551.033,73.64,477.393,0,386.878,0z M495.6,386.878c0,60.045-48.677,108.722-108.722,108.722H164.156 c-60.045,0-108.722-48.677-108.722-108.722V164.156c0-60.046,48.677-108.722,108.722-108.722h222.722 c60.045,0,108.722,48.676,108.722,108.722L495.6,386.878L495.6,386.878zM275.517,133C196.933,133,133,196.933,133,275.516 s63.933,142.517,142.517,142.517S418.034,354.1,418.034,275.516S354.101,133,275.517,133z M275.517,362.6 c-48.095,0-87.083-38.988-87.083-87.083s38.989-87.083,87.083-87.083c48.095,0,87.083,38.988,87.083,87.083 C362.6,323.611,323.611,362.6,275.517,362.6z";
}

.yt-svg {
    -fx-shape: "m256 0c-141.363281 0-256 114.636719-256 256s114.636719 256 256 256 256-114.636719 256-256-114.636719-256-256-256zm159.960938 256.261719s0 51.917969-6.585938 76.953125c-3.691406 13.703125-14.496094 24.507812-28.199219 28.195312-25.035156 6.589844-125.175781 6.589844-125.175781 6.589844s-99.878906 0-125.175781-6.851562c-13.703125-3.6875-24.507813-14.496094-28.199219-28.199219-6.589844-24.769531-6.589844-76.949219-6.589844-76.949219s0-51.914062 6.589844-76.949219c3.6875-13.703125 14.757812-24.773437 28.199219-28.460937 25.035156-6.589844 125.175781-6.589844 125.175781-6.589844s100.140625 0 125.175781 6.851562c13.703125 3.6875 24.507813 14.496094 28.199219 28.199219 6.851562 25.035157 6.585938 77.210938 6.585938 77.210938zm0 0";
}

.www-svg {
    -fx-shape: "M473.885,212.673c-7.358-3.803-16.408-0.918-20.211,6.441l-17.455,33.783l-16.803-33.605 C416.876,214.21,411.682,211,406,211s-10.876,3.21-13.416,8.292L376,252.459l-16.584-33.167 c-2.688-5.379-8.318-8.626-14.334-8.264l-0.908,0.056c-6.684,0.41-12.072,5.138-13.626,11.303 c-1.022-4.108-3.757-7.763-7.84-9.804c-7.407-3.703-16.419-0.702-20.124,6.708L286,252.459l-16.583-33.167 C266.875,214.21,261.682,211,256,211s-10.875,3.21-13.417,8.292L226,252.459l-16.583-33.167 c-3.705-7.409-12.716-10.413-20.125-6.708c-4.083,2.041-6.818,5.696-7.84,9.803c-1.553-6.165-6.942-10.894-13.626-11.304 l-0.908-0.056c-6.004-0.37-11.645,2.885-14.334,8.264L136,252.459l-16.583-33.167c-5.461-10.895-21.253-11.161-26.833,0 l-16.803,33.606l-17.455-33.782c-3.802-7.36-12.851-10.243-20.211-6.441c-7.36,3.803-10.244,12.852-6.441,20.212l31,60 c5.627,10.892,21.255,10.798,26.743-0.177L106,259.541l16.584,33.167c5.524,11.047,21.322,11.022,26.833,0l27.949-55.9 c1.966-1.911,3.411-4.364,4.097-7.135c0.261,1.029,0.627,2.046,1.121,3.035l30,60c5.524,11.047,21.322,11.022,26.833,0 L256,259.541l16.583,33.167c5.524,11.047,21.323,11.023,26.833,0l30-60.001c0.494-0.988,0.86-2.005,1.121-3.034 c0.686,2.772,2.131,5.226,4.098,7.137l27.949,55.898c5.522,11.047,21.323,11.022,26.832,0L406,259.541l16.584,33.167 c5.481,10.965,21.11,11.078,26.742,0.177l31-60.001C484.129,225.524,481.245,216.475,473.885,212.673zM493.032,159.329C454.912,66.291,362.617,0,256,0C149.356,0,57.078,66.314,18.969,159.328C7.501,167.492,0,180.882,0,196 v120c0,15.118,7.501,28.508,18.969,36.672C57.087,445.707,149.381,512,256,512c106.644,0,198.921-66.314,237.032-159.329 C504.499,344.507,512,331.117,512,316V196C512,180.883,504.499,167.493,493.032,159.329z M456.045,151h-76.687 c-9.533-40.845-24.413-76.012-43.344-102.258c-1.323-1.833-2.662-3.611-4.015-5.345C384.608,62.44,429.425,100.687,456.045,151z M271,32.512C312.045,46.293,337.711,108.43,348.486,151H271V32.512z M241,32.512V151h-77.487 c8.616-34.039,21.198-63.073,36.804-84.708C209.693,53.294,223.639,38.341,241,32.512z M180.001,43.397 c-1.353,1.734-2.692,3.511-4.015,5.345C157.055,74.988,142.174,110.155,132.642,151H55.955 C82.575,100.687,127.391,62.44,180.001,43.397z M55.955,361h76.687c8.73,37.405,23.727,77.315,47.359,107.603 C127.391,449.56,82.575,411.313,55.955,361z M241,479.488C199.955,465.707,174.288,403.57,163.513,361H241V479.488z M271,479.488 V360.8h77.487C337.695,403.433,311.958,465.736,271,479.488z M331.999,468.603c23.629-30.284,38.628-70.39,47.359-107.803h76.687 C429.425,411.113,384.609,449.56,331.999,468.603z M482,316c0,8.271-6.729,15-15,15c-9.517,0-411.12,0-422,0 c-8.271,0-15-6.729-15-15V196c0-8.271,6.729-15,15-15c11.435,0,411.732,0,422,0c8.271,0,15,6.729,15,15V316z"
}