* {
    -fx-font-family: Tahoma;
    -color-primary: #222831;
    -color-secondary: #00adb5;
    -color-primary-light: #393e46;
}

.root {
    -fx-padding: 10px 10px 20px 10px;
    -fx-spacing: 15;
    -fx-background-color: -color-primary;
}

.lbl-title {
    -fx-text-fill: -color-secondary;
}

.lbl-desc {
    -fx-text-fill: #DDD;
}

.combo {
    -fx-font-size: 16px;
    -jfx-label-float: true;
    -jfx-unfocus-color: -color-secondary;
    -jfx-focus-color: -color-secondary;
    -fx-prompt-text-fill: -color-secondary;
    -fx-text-fill: #DDD;
    -fx-cursor: hand;
}

.jfx-combo-box .cell {
    -fx-text-fill: #DDD;
    -fx-background-color: -color-primary;
}

.btn-close{ /* Close button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #FC5653;
    -fx-background-radius: 100%;
}
.btn-close:hover{
    -fx-cursor: hand;
    -fx-background-color: red;
    -fx-background-radius: 100%;
}

.btn-min{ /* Hide button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #29CC41;
    -fx-background-radius: 100%;
}
.btn-min:hover{
    -fx-cursor: hand;
    -fx-background-color: green;
    -fx-background-radius: 100%;
}

.icon {
    -icon-paint: -color-secondary;
    -fx-background-color: -icon-paint;
    -size: 24;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-cursor: hand;
}

.play-svg {
    -fx-shape: "M238.933,0C106.974,0,0,106.974,0,238.933s106.974,238.933,238.933,238.933s238.933-106.974,238.933-238.933 C477.726,107.033,370.834,0.141,238.933,0z M339.557,246.546c-1.654,3.318-4.343,6.008-7.662,7.662v0.085L195.362,322.56 c-8.432,4.213-18.682,0.794-22.896-7.638c-1.198-2.397-1.815-5.043-1.8-7.722V170.667c-0.004-9.426,7.633-17.07,17.059-17.075 c2.651-0.001,5.266,0.615,7.637,1.8l136.533,68.267C340.331,227.863,343.762,238.11,339.557,246.546z";
}

.pause-svg {
    -fx-shape: "M256,0C114.833,0,0,114.844,0,256s114.833,256,256,256s256-114.844,256-256S397.167,0,256,0z M234.667,352 c0,5.896-4.771,10.667-10.667,10.667h-64c-5.896,0-10.667-4.771-10.667-10.667V160c0-5.896,4.771-10.667,10.667-10.667h64 c5.896,0,10.667,4.771,10.667,10.667V352z M362.667,352c0,5.896-4.771,10.667-10.667,10.667h-64 c-5.896,0-10.667-4.771-10.667-10.667V160c0-5.896,4.771-10.667,10.667-10.667h64c5.896,0,10.667,4.771,10.667,10.667V352z"
}

.refresh-svg {
    -fx-shape: "M403.721,272.047c0,39.891-15.598,77.684-44.09,105.878c-28.195,28.494-65.987,44.092-105.88,44.092 s-77.686-15.598-105.88-44.092c-28.493-28.194-44.09-65.987-44.09-105.878c0-39.893,15.598-77.686,44.09-105.88 c28.194-28.494,65.987-44.09,105.88-44.09c25.196,0,49.789,6.298,71.987,18.596l-58.79,71.386h231.255L440.613,0l-57.588,70.185 C344.333,45.291,299.94,32.094,253.75,32.094c-64.187,0-124.477,24.894-169.766,70.185c-45.292,45.291-70.187,105.58-70.187,169.768 s24.895,124.475,70.187,169.766C129.274,487.105,189.562,512,253.75,512s124.476-24.895,169.766-70.187 c45.291-45.291,70.187-105.578,70.187-169.766V257.05h-89.982V272.047z"
}