* {
    -fx-font-family: Tahoma;
    -color-primary: #222831;
    -color-secondary: #00adb5;
    -color-primary-light: #393e46;
}

.root {
    -fx-padding: 10px 10px 20px 10px;
    -fx-spacing: 15;
    -fx-background-color: -color-primary;
}

.lbl-title {
    -fx-text-fill: -color-secondary;
}

.lbl-desc {
    -fx-text-fill: #DDD;
}

.combo {
    -fx-font-size: 16px;
    -jfx-label-float: true;
    -jfx-unfocus-color: -color-secondary;
    -jfx-focus-color: -color-secondary;
    -fx-prompt-text-fill: -color-secondary;
    -fx-text-fill: #DDD;
    -fx-cursor: hand;
}

.jfx-combo-box .cell {
    -fx-text-fill: #DDD;
    -fx-background-color: -color-primary;
}

.icon {
    -fx-icon-size: 25px;
    -fx-fill: -color-secondary;
    -fx-cursor: hand
}

.btn-close{ /* Close button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #FC5653;
    -fx-background-radius: 100%;
}
.btn-close:hover{
    -fx-cursor: hand;
    -fx-background-color: red;
    -fx-background-radius: 100%;
}

.btn-min{ /* Hide button */
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: #29CC41;
    -fx-background-radius: 100%;
}
.btn-min:hover{
    -fx-cursor: hand;
    -fx-background-color: green;
    -fx-background-radius: 100%;
}